{% load static %}
<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
<div>
    <table>
        <tr>
            <th>Id pytania</th>
            <th>Treść</th>
            <th>Data publikacji</th>
        </tr>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td><a href="{% url 'polls:question_detail' question.id %}">

                {{ question.question_text }}</a>
                </td>
                <td>{{question.pub_date}}</td>
                <td>{{question.type}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>